extends layout

block content

    script(type='application/javascript' src='public/js/pwbin.js')

    h1= title
    p Welcome to #{title}
    p Shorten Password
    form(id='main_form')
        input(placeholder='Password' id='password_input')
        input(placeholder='PIN' id='pin_input')
        input(type='submit')
    p(id='pw_url')

    script(type='application/javascript').

        const mainForm = document.getElementById('main_form');
        mainForm.onsubmit = function (event) {
            event.preventDefault();

            const password = document.getElementById('password_input').value;
            const pin = document.getElementById('pin_input').value;

            PWBin.storePassword(password, pin)
                .then(function (response) {
                    console.log(response);
                    mainForm.parentElement.removeChild(mainForm);
                    document.getElementById('pw_url').innerText = 'https://pwbin.arik.io/' + response.address;
                })
                .catch(function (error) {
                    console.trace(error);
                });


            return false;
        }
