extends layout

block content

    script(type='application/javascript' src='public/js/pwbin.js')

    h1= title
    p Enter PIN to decrypt password
    form(id='decrypt_form')
        input(type='hidden' value=content id='ciphertext_input')
        input(id='pin_input')
        input(type='submit')
    p(id='password')

    script(type='application/javascript').

        const decryptForm = document.getElementById('decrypt_form');
        decryptForm.onsubmit = function (event) {
            event.preventDefault();

            const ciphertext = document.getElementById('ciphertext_input').value;
            const pin = document.getElementById('pin_input').value;

            try {
                const password = PWBin.decrypt(ciphertext, pin);
                decryptForm.parentElement.removeChild(decryptForm);
                document.getElementById('password').innerText = password;
            } catch (e) {
                console.trace(e);
                alert('invalid pin!');
            }

            return false;
        }
